/* COLORS!

#564C45
#DC747D
#F79F92
#FCCFBF
#D3DEE5
#EADED6

*/

:root {
  --main-bg-color: #eaded6;
  --secondary-bg-color: #fccfbf;
  --main-text-color: #f79f92;
  --secondary-text-color: #564c45;
  --btn-color: #d3dee5;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-bg-color);
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(55, 55, 55, 0.1),
      rgba(0, 0, 0, 0.6)
    ),
    url(./images/cooks.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 1rem 1rem 0 0;
}

.logo {
  width: 8.5rem;
}

.logo-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  top: 1rem;
  left: 1rem;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: var(--main-text-color);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s linear;
}

.heading-primary-sub {
  display: block;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
  animation: moveInRight 1s linear;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn-pink {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
}

.btn-blue {
  background-color: var(--btn-color);
  color: var(--secondary-text-color);
  width: 95%;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-pink::after {
  background-color: var(--main-text-color);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.nav {
  font-size: 2.5rem;
}

.nav ul,
li,
a {
  display: inline-block;
  margin: 1rem;
  color: var(--main-text-color);
  text-decoration: none;
}
/* First section */
.s1 {
  background-color: var(--main-text-color);
  padding: 2rem;
}

.section-container {
  color: var(--secondary-text-color);
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: center;
  text-align: left;
  position: relative;
  padding: 4rem;
}

.section-container-main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.section-container-sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.section-container-logo {
  width: 25em;
}
/* section section */
.s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card {
  border-radius: 2rem;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 1rem;
  max-width: 40rem;
  margin: 1rem;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  background-color: white;
}

.card-image {
  background-size: cover;
  display: block;
  max-height: 60rem;
  padding: 1rem;
}

.card-image > img {
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card:hover {
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem) scale(1.0125);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: var(--secondary-text-color);
  text-decoration: none;
  text-align: left;
}

.card-description > h2 {
  font-size: 2rem;
  margin: 0 0 0.5em;
  padding-left: 1rem;
}

.card-description > p {
  font-size: 2rem;
  padding-left: 1rem;
}
