/* COLORS!

#564C45
#DC747D
#F79F92
#FCCFBF
#D3DEE5
#EADED6

*/

:root {
  --main-bg-color: #eaded6;
  --main-text-color: #f79f92;
}

* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

.header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(55, 55, 55, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url(./images/cooks.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 10px 10px 0px 0px;
}

.logo {
  width: 85px;
}

.logo-box {
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: var(--main-text-color);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s linear;
}

.heading-primary-sub {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 18px;
  animation: moveInRight 1s linear;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.btn-pink {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-pink::after {
  background-color: var(--main-text-color);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}