/* COLORS!

#564C45
#DC747D
#F79F92
#FCCFBF
#D3DEE5
#EADED6

*/

:root {
  --main-bg-color: #eaded6;
  --main-text-color: #f79f92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

.header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(55, 55, 55, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url(./images/cooks.jpg);
  background-size: cover;
  background-position: top;
}

.logo {
  width: 100px;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 40px;
}